@charset "utf-8";

/* 폰트 연결 */
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'bitbit';
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'), url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2');
}

/* 폰트 연결 끝 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    border: 0;
    vertical-align: middle;
}

html,
body {
    position: relative;
    height: 100%;
}

html {
    font-size: 16px;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Pretendard-Regular';
    color: #222;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
    background: #eee;
}

/* 스와이퍼 */
.first-swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    display: none;
}

/* 공통 요소 */
.inner {
    position: relatvie;
    display: block;
    width: 100%;
    /* block 요소 가운데 정렬 */
    margin: 0 auto;
}

.wrap {
    position: relative;
    display: block;
}

/* 공통 요소 끝 */

/* 상단 */
.header {
    position: fixed;
    display: none;
    width: 100%;
    height: 45px;
    z-index: 9999;
    background: #1D1D1D;
}

.header.active {
    display: block;
}

.header .inner {
    max-width: 100%;
    height: 100%;
    z-index: 9;
}

.nav {
    height: 100%;
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav-main {
    margin-left: 130px;
}

.nav-main,
.nav-github,
.nav-projects,
.nav-vision,
.nav-blog {
    font-family: 'DungGeunMo';
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

/* 상단 반응형 */
@media screen and (max-width: 888px) {
    .nav-main {
        margin-left: 14.64vw;
    }
}

@media screen and (max-width: 730px) {

    .nav-main,
    .nav-vision,
    .nav-projects {
        display: none;
    }

    .nav-blog {
        margin-left: 50px;
    }
}

@media screen and (max-width: 430px) {
    .nav {
        gap: 30px;
    }

    .nav-blog {
        margin-left: 20px;
    }
}

/* 상단 끝 */
/* 퍼스트 */
.first nav {
    background-color: #a8a8a8;
    position: absolute;
    top: 0;
    width: 100%;
}

.first ul {
    padding: 0.15rem 2rem;
    display: flex;
    font-size: 24px;
}

.first li {
    margin-left: 1rem;
}

.help {
    position: absolute;
    right: 0;
    margin-right: 2rem;
}

.first {
    width: 100%;
    height: 100vh;
    font-family: 'DungGeunMo';
    background-color: #0b00a8;
    font-size: 28px;
    text-align: center;
    display: flex;
    align-items: center;
}

.first:before {
    content: "Baevolution";
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a8a8a8;
    color: #0b00a8;
    padding: 0 0.75rem;
}

.msg {
    line-height: 2;
    color: #a8a8a8;
}

.blink {
    animation: blink 0.5s infinite;
    font-size: 2.5rem;
    color: #a8a8a8;
}


@keyframes blink {
    to {
        opacity: 0;
    }
}

.first-footer {
    background-color: #00a7a8;
    color: #fff;
    padding: 0.05rem 1rem;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 24px;
}

.first-footer span {
    margin-left: 2rem;
}

/* 퍼스트 반응형 */
@media screen and (max-width: 720px) {

    .first li,
    .first-footer {
        font-size: 20px;
    }

    .first {
        font-size: 24px;
    }

    .first:before {
        top: 2.5%;
    }
}

@media screen and (max-width: 580px) {

    .first li,
    .first-footer {
        font-size: 18px;
    }

    .first {
        font-size: 20px;
    }

    .first:before {
        top: 2%;
    }
}

@media screen and (max-width: 470px) {

    .first li,
    .first-footer {
        font-size: 16px;
    }

    .first {
        font-size: 18px;
    }

    .first:before {
        top: 2.2%;
    }
}

/* 퍼스트 끝 */

/* 인트로 */
.intro {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}

.intro-secret {
    visibility: hidden;
}

.intro-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*  7.03vw 6.77vw 0 6.77vw */
    margin: 135px 130px 0 130px;
}

.intro-title {
    font-family: 'bitbit';
    font-size: 55px;
    line-height: 1.5;
}

.intro-subtitle {
    font-family: 'DungGeunMo';
    font-size: 17px;
    line-height: 1.8;
}

.intro-title,
.intro-subtitle {
    padding-top: 100px;
}

.intro-empty {
    width: 300px;
    height: 200px;
    background: #F5F5F5;
}

.intro-img {
    display: block;
    height: 630px;
    overflow: hidden;
}

.intro-img img {
    width: 700px;
}

.intro-title p {
    animation-duration: 250ms;
    animation: 1s ease-out;
}

@keyframes slineIn {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

/* 인트로 반응형 */
@media screen and (max-width: 1614px) {
    .intro-box {
        padding-top: none;
    }

    .intro-title {
        padding: 0px;
    }

    .intro-img {
        height: 400px;
    }
}

@media screen and (max-width: 1024px) {
    .intro-box {
        margin: 13.18vw 12.70vw 0 12.70vw;
    }

    .intro-title {
        font-size: 50px;
    }

    .intro-subtitle {
        font-size: 16px;
    }

    .intro-img img {
        width: 655px;
    }
}

@media screen and (max-width: 880px) {
    .intro-box {
        margin-left: 12.73vw;
        margin-right: 12.73vw;
    }

    .intro-title {
        font-size: 40px;
    }

    .intro-subtitle {
        font-size: 14px;
    }

    .intro-img img {
        width: 575px;
    }
}

@media screen and (max-width: 769px) {
    .intro-title {
        font-size: 30px;
    }

    .intro-subtitle {
        font-size: 13px;
        text-align: justify;
    }

    .intro-img img {
        width: 74.77vw;
    }
}

@media screen and (max-width: 480px) {
    .intro-img {
        height: 83.33vw;
        overflow: hidden;
    }
}

@media screen and (max-width: 320px) {
    .intro-box {
        margin-top: 60px;
    }
}

/* 스킬 */
.skills {
    padding: 30px 0 0 130px;
}

.skills-txt {
    font-family: 'bitbit';
    font-size: 36px;
    margin-bottom: 10px;
}

.skills-box {
    display: flex;
    text-align: center;
    font-size: 20px;
}

/* 스킬 테이블 */
table {
    border-collapse: collapse;
}

td {
    border: 1px solid #222;
    padding: 12px 50px;
    background: #fff;
}

/* 스킬 반응형 */
@media screen and (max-width: 1656px) {
    .skills {
        padding: 25px 0 0 130px;
    }
}

@media screen and (max-width: 1024px) {
    .skills {
        padding-left: 12.70vw;
    }

    td {
        padding: 12px 49px;
    }
}

@media screen and (max-width: 880px) {
    .skills-box {
        font-size: 18px;
    }

    td {
        padding: 12px 42.5px;
    }
}

@media screen and (max-width: 769px) {
    .skills-txt {
        font-size: 30px;
    }

    .skills-box {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    td {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

/* 인트로 끝 */

/* 프로젝트 시작 */
.projects {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    padding: 160px 0 0 130px;
}

.projects-txt {
    font-family: 'bitbit';
    font-size: 36px;
    margin-bottom: 30px;
}

/* Swiper */
.second-swiper {
    width: 100%;
    height: 500px;
}

.projects-box {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.peojects-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #222;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    color: #fff;
}

/* Swiper 끝 */

.projects-box {
    position: relative;
    display: block;
    width: 700px;
    height: 550px;
    background: #fff;
    border: 1px solid #222;
}

.projects-box-header {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    background: #c3c3c3;
    border-bottom: 1px solid #222;
    font-family: 'DungGeunMo';
    font-size: 19px;
    padding-left: 10px;
}

.projects-box-img {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 35px;
    background: black;
}

.projects-box-txt {
    margin-top: 300px;
    text-align: left;
    padding: 0 30px;
}

.projects-box-subtitle {
    line-height: 1.5;
    font-size: 17px;
}

.projects-link-demo,
.projects-link-github {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: 1px solid #222;
    bottom: 20px;
    color: #000;
    background: #F5F5F5;
    font-family: 'DungGeunMo';
    font-size: 21px;
    letter-spacing: -0.8px;
}

.projects-link-demo {
    left: 30px;
}

.projects-link-github {
    left: 140px;
}

/* 프로젝트 반응형 */
@media screen and (max-width: 1024px) {
    .projects {
        padding-left: 12.70vw;
    }

    .projects-box-subtitle {
        font-size: 16px;
    }
}

@media screen and (max-width: 769px) {
    .projects-txt {
        font-size: 30px;
    }

    .projects-box-header {
        font-size: 15px;
    }


    .projects-box-subtitle {
        font-size: 13px;
    }
}

/* 프로젝트 끝 */

/* 내 소개 */
.introduce {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}

.introduce .inner {
    padding: 110px 0 0 130px;
}

.introduce-title {
    font-family: 'bitbit';
    font-size: 36px;
    margin-bottom: 20px;
}

.introduce-subtitle {
    font-family: 'DungGeunMo';
    font-size: 18px;
    margin-bottom: 20px;
}

.introduce-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 130px;
}

.introduce-first,
.introduce-second,
.introduce-third {
    width: 27.83vw;
}

/* 내 소개 반응형 */
@media screen and (max-width: 1590px) {
    .introduce-box {
        flex-wrap: nowrap;
        gap: 10px;
    }
}

@media screen and (max-width: 1150px) {
    .introduce-box {
        display: grid;
        grid-template-areas:
            " a b "
            " . . "
            "c c";
        justify-content: start;
        grid-gap: 2px;
    }

    .introduce-first {
        grid-area: a;
        width: 293px;
    }

    .introduce-second {
        grid-area: b;
        width: 293px;
    }

    .introduce-third {
        grid-area: c;
        width: 588px;
        height: 225px;
    }
}

@media screen and (max-width: 1024px) {
    .introduce .inner {
        padding-left: 12.70vw;
    }
}

@media screen and (max-width: 769px) {
    .introduce-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 730px) {
    .introduce-subtitle {
        font-size: 13px;
    }

    .introduce-first,
    .introduce-second {
        width: 40.14vw;
    }

    .introduce-third {
        width: 80.55vw;
        height: 30.82vw;
    }
}

/* 내 소개 끝 */

/* 푸터 */
.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    color: #fff;
    background: #222;
    line-height: 1.5;
    font-size: 18px;
}

/* 푸터 반응형 */
@media screen and (max-width: 430px) {
    .footer {
        font-size: 14px;
    }
}